.navbar {
  background-color: #000;
}

.navbar__brand-right {
  color: #eee935;
  font-weight: bold;
}

.navbar__brand-left {
  color: #00cccc;
  font-weight: bold;
}

.navbar__link {
  color: #00cccc;
  font-weight: bold;
}
